<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <img src="/image/foxlogo.jpg" class="logo1" alt=" erroe loading  page">
    <header class="header">
        <h1>RCOEM</h1>
        <h4>RCOEM was established in 1984 by Shri Ramdeobaba Sarvajanik Samiti (SRSS), a trust which has been involved
            in community service for over four decades. More than 35 years of fruitful journey has helped RCOEM grow
            deep roots and establish a strong foundation in technical education. Journey of a student in this institute
            has always involved comprehensive knowledge building from practical skills, theoretical knowledge to
            personality development, which has given them a head-start in their career</h4>




    </header>

    <form action="/login"    method="POST"  class="form">
        <h2> LOGIN PAGE</h2>
               <label>LoginId</label>
               <input type=" text "  name="name" id="inputlogin" >
               <label>Password</label>
                <input type="password"  name="password" id="inputpass" >
                <button class="btr"  type="submit"> Login</button>



        <h6> If you haven't Register,<a href="register" target="_blank"> Register Now</a> </h6>

    </form>


</body>

</html>