<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register Form</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <img src="/image/foxlogo.jpg" class="logo1" alt=" erroe loading  page">
    <header class="header">
        <h1>Registerform   for placement </h1>
        <h4>RCOEM was established in 1984 by Shri Ramdeobaba Sarvajanik Samiti (SRSS), a trust which has been involved
            in community service for over four decades. More than 35 years of fruitful journey has helped RCOEM grow
            deep roots and establish a strong foundation in technical education. Journey of a student in this institute
            has always involved comprehensive knowledge building from practical skills, theoretical knowledge to
            personality development, which has given them a head-start in their career</h4>




    </header>

    <form action="/register"  method="POST" class="form">
        <h2> Registration Form </h2>
                <input type=" text "  name="name"  id="inputlogin" placeholder=" Name ">
                <input type="password"  name="password"  id="inputlogin" placeholder=" Password ">
                <input type="email"    name="email"  id="inputpass" placeholder="  Email ">
                <input type="number"  name="phonenumber" id="inputpass" placeholder="  Phone Number ">
                <input type="text"    name="state" id="inputpass" placeholder="  State ">
                <button class="btr"     type="submit"> Login</button>

            </tr>

        </td>


    </form>


</body>

</html>